/*Reset css*/
/* * {
    margin: 0;
    padding: 0;
} */
@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display:block;
    }
}

/* -----------------------  -------------------------------------*/
.visibilityOff {
    display: none;
}
.visibilityOn {
    display: block;
}
.containerMessageStyle {
    background-color: #ffffe1;
    width: 70%;
    padding: 1%;
    z-index: 1000;
    position: fixed;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: solid 1px orange;
    transition-timing-function: linear;
}
.messageStyle {
    text-align: center;
    color: orange;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
}
.offcanvas-body {
    background-color: yellow;
}


/* ----- For Page Header -----*/
/* ----- For Navbar -----*/
.navbar {
    z-index: 2001;
}
.navbarLogo {
    height: 60px;
    border-radius: 15px;
}
.noWrap {
    white-space: nowrap;
}
.active {
    font-weight: bold;
}
.hovEffect {
    position: relative;
    
}
.hovEffect:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.hovEffect:hover:before {
    visibility: visible;
    width: 100%;
}
.hovEffect2:hover {
    border-bottom: solid 1px black;
}

/* ----- For Home page Main Content -----*/
.btn-grad {
    background: rgb(195,34,171);
    background: radial-gradient(circle, rgba(195,34,171,1) 20%, rgba(235,153,25,1) 91%);
}
.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
}
.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
main {
    margin-top: 90px;
}
.carouselParent {
    position: relative;
}
.textCarousel {
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 2000;
    color: white;
}
#video {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

@media screen and (min-width: 1401px) {
    p.textCarouselTitle {
        font-size: 40px;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 15px darkblue;
        font-weight: bold;
    }
    p.textCarouselSubtitle {
        font-size: 25px;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 10px darkblue;
    }
    p.productCategoriesText {
        font-size: 25px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
    p.textCarouselTitle {
        font-size: 27px;
        text-shadow: 1px 1px 2px black, 0 0 25px lawngreen, 0 0 15px green;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    p.textCarouselSubtitle {
        font-size: 20px;
        text-shadow: 1px 1px 2px black, 0 0 25px lawngreen, 0 0 10px green;
        margin: 0;
        padding: 0;
    }
    p.productCategoriesText {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    p.textCarouselTitle {
        font-size: 15px;
        text-shadow: 1px 1px 2px black, 0 0 25px violet, 0 0 15px red;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    p.textCarouselSubtitle {
        font-size: 12px;
        text-shadow: 1px 1px 2px black, 0 0 25px violet, 0 0 10px red;
        margin: 0;
        padding: 0;
    }
    p.productCategoriesText {
        font-size: 16px;
    }
}

/* ----- For Page Footer -----*/
.footerLogo {
    min-width: 50px;
    max-height: 27px;
    border-radius: 3px;
}
.radial-gradient {
    background: rgb(195,34,171);
    background: radial-gradient(circle, rgba(195,34,171,1) 20%, rgba(235,153,25,1) 91%);
}
.fab:hover {
    color: orangered;
} 
/* ----- For Cart page Main Content -----*/
.cardName {
    font-size: 14px;
}
.cardText {
    font-size: 12px;
}
.cardPrice {
    font-size: 14px;
}
.signWidth {
    width: 24px;
}
.qtyIncDecHeight{
    height: 28px;
}
.cardQty {
    font-size: 14px;
    width: 40px;
}
.cartColor {
    color: green;
}

/* ----- For Admin page Main Content -----*/
.addBtnFormat {
    height: 38px;
}
.adminImage {
    max-width: fit-content;
}
.tooltip-inner {
    font-size: 20px;
}
.formAddProductDiv {
    border: solid 1px orange;
    border-radius: 1%;
}
.stockTableDiv {
    border: solid 1px orange;
    border-radius: 10px;
}

/* ----- For Details page Main Content -----*/
.imgDetailsBackground {
    background-color: #ebeeef;
}
.imgDetails {
    max-width: 450px;
} 
.descriptionWidth {
    max-width: 800px;
}
.ratingColor {
    color: gold;
}
.starsHeartParent {
    position: relative;
}
.starsPosition {
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.heartPosition {
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.enlargePosition {
    position: absolute;
    top: 2%;
    right: 2%;
}
.starsText {
    font-size: 14px;
    
}
.heartColor {
    color: red;
}
.textName {
    font-size: 18px;
}
.textShortDescription {
    font-size: 16px;
}
.textLongDescription {
    font-size: 12px;
}
.squareElem {
    border: solid 1px black;
    height: 30px;
    width: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.redColor {
    background-color: rgb(233, 58, 14);
    
}
.blueColor {
    background-color: rgb(38, 127, 230);
}
.greenColor {
    background-color: rgb(40, 226, 40);
}
.orangeColor {
    background-color: rgb(243, 161, 8);
}
.purpleColor {
    background-color: rgb(205, 97, 226);
}

/* ----- For Contact us page Main Content -----*/
@media screen and (min-width: 768px) {
    p.contactTitle {
        font-size: 50px;
    }
    p.contactSubtitle {
        font-size: 30px;
    }
}
@media screen and (max-width: 767px) {
    p.contactTitle {
        font-size: 25px;
        margin-bottom: 0px;
    }
    p.contactSubtitle {
        font-size: 15px;
        margin-bottom: 0px;
    }
}
#map {
    height: 300px;
    width: 100%;
    
}

/* ----- For Discount page Main Content -----*/
#discount {
    margin-top: 120px;
}




